<<<<<<< HEAD

.carte_joueur{
  width:50%;
  height:20%
}

.carte_joueur img{
  width:50%;
  height:20%
=======
.board .row {
  text-align: center;
  justify-content: center;
}

.board .col {
  text-align: center;
  justify-content: center;
}
.board {
  margin: auto;  
}

.board .cell {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .cell.gray {
  background-color: #8d6b45;
}
.board .cell.white {
  background-color: #eacda5;
>>>>>>> 6258fc327a9463079901a804a70cb7b0e98ab8ff
}
