body
{
background-image:url(a.jpg);

}

.premierCSS {
    font-family: Georgia, serif;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px rgb(35, 49, 75);
    max-width: 550px;
    padding-top: 10px;
    margin-top: 166px;
    height: 400px;
}

.deuxiemeCSS {
    font-family: Georgia, serif;
     background-color: white;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px rgb(35, 49, 75);
    max-width: 550px;
    padding-top: 10px;
    margin-top: 50px;
    height: 400px;
  }

.troisiemeCSS {
	display: inline;
	list-style: none;
}



#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
	background: hsla(80, 90%, 40%, 0.7);
	color: white;
	margin-bottom: none;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline;
	margin: 0 30px;
	color:white;
	
}

aside
{
	text-align: right;
}

nav ul li
{
	list-style-type:none;
	text-align:right;
	padding:5px;
}



h1
{
	font-family:verdana;
	font-size:40pt;
	text-align: center;
	color:white;
}

h6
{
	font-family:emoji;
	font-weight: bold;
	font-size:100%;
	color:red;
	padding:0.2cm;
	margin:0.4cm;
	float: center;
}
li a:link
{
	
	color:#CD853F;
}


a:hover
{
	color:navy;
	background-color:#CD853F;
}


a:visited
{
	color:navy;
}


.sous{
display: none;
background-color:black;
box-shadow: 0px 1px 2px #CCC;

}

nav > ul li:hover .sous{
	display: block;
	
	
}

.vertical{
color: blue;
background-color:white;

    
   

}
