<%- include("./parties/Header") %>
    <div style="margin-left: 40%;">
        <aside id="battleScript" class="col-sm-12 col-md-4 " style="margin-right: 40%;">
            <h3 class="font-weight-bold secondFont mt-2 text-center">Etes vous membre?</h3>
            <p class="font-italic text-center">Connectez vous</p>
            <form id="id_form_login" action="login" method="POST">
                <div class="form-group">
                    <label for="psn,eudo">Pseudo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pseudo" required>
                </div>
                <div class="form-group">
                    <label for="passworjd">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>

                </div>
                <button type="submit" class="btn btn-primary">Se Connecter</button>
                <a href="/register">S'inscrire</button>
            </form>
        </aside>
    </div>
    <%- include("./parties/Footer") %>